################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PERT 2
/bin/Debug/net8.0
/.vs/ProjectEvaluation
/.vs/TrainingProjectApi_AspDorNetCore
/.vs/TrainingProjectApi_AspDorNetCore_cek
/.vs
/obj/Debug/net8.0
