################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PERT 2
/.vs/VSWorkspaceState.json
/.vs/ProjectEvaluation/pert 2.metadata.v7.bin
/.vs/ProjectEvaluation/pert 2.projects.v7.bin
*.bin
*.config
*.vsidx
*.v2
/.vs/TrainingProjectApi_AspDorNetCore_cek/v17/.suo
/.vs/TrainingProjectApi_AspDorNetCore_cek/v17/DocumentLayout.json
/TrainingProjectApi_AspDorNetCore_cek.csproj
/TrainingProjectApi_AspDorNetCore_cek.csproj.user
/TrainingProjectApi_AspDorNetCore_cek.http
